
body {
    background-color:pink;
    display: flex;
    justify-content: center;

     

}
/* section {
display: flex;
align-content: top;
flex-basis:auto;
    justify-content: flex-start;

/* margin-left: 10%;
margin-right: 10%; */



/* .whitebox{
    background-color: white;
    border: 3px solid black;
    position: fixed;
    width: 600px;
   top: 0;
   display: flex;
   flex-direction: column; */
    /* justify-content: left; */
   
  /*bottom:0; */

/* } */
.content {
  background-color: white;
  padding:50px;
  width:50%;
      display: flex;
      flex-direction:column;
      align-items: left;

      align-content: flex-start;

      position: absolute;
      top:0; 

      
      /* pasts the white box at top of screen */

      /* overflow: auto; */
/* sets heigt and makes div scrollable */
     
/* border:8px solid black; */


  /* justify-content: left;
  align-items: left; */
  /* margin-left: 20px;
  margin-right: 20px; */
  
}
.grey{
  background-color: lightgray;
  align-self: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.img1 {
height: 100%;
  /* height:400px; */
  width:100%;
}
h1{
  color: red;
}
p {
  max-width: 600px;
}
.serv {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  flex-wrap: wrap;
  
  /* display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1; */
}
.img2 {
  width: 250px;
height: 250px;
  /* object-fit: cover;

max-height: 200px ;
max-width: auto;
overflow: hidden; */
/* overflow: hidden; */
   /* object-fit: contain; */
   /* max-width:45%;
   max-height: 45% */
}
