
body {
    background-color:pink;
    display: flex;
    justify-content: center;

     

}
/* section {
display: flex;
align-content: top;
flex-basis:auto;
    justify-content: flex-start;

/* margin-left: 10%;
margin-right: 10%; */



/* .whitebox{
    background-color: white;
    border: 3px solid black;
    position: fixed;
    width: 600px;
   top: 0;
   display: flex;
   flex-direction: column; */
    /* justify-content: left; */
   
  /*bottom:0; */

/* } */
.content {
  background-color: white;
  width:50%;
      display: flex;
      flex-direction:column;
      align-items: left;
      /* flex-wrap: wrap; */
      align-content: flex-start;

      position: absolute;
      top:0; 
      /* height: 1000px; */
      
      /* pasts the white box at top of screen */
      /* flex-grow: 1; */

      /* overflow: auto; */
/* sets heigt and makes div scrollable */
     
/* border:8px solid black; */


  /* justify-content: left;
  align-items: left; */
  /* margin-left: 20px;
  margin-right: 20px; */
  
}
.greybox {
  background-color:lightgray;
  align-self: center;
  padding-top: 3px;
  padding-bottom: 3px;

}
.img1 {
height: 100%;
  /* height:400px; */
  width:100%;
}
h1{
  color: red;
}
p {
  max-width: 600px;
}
.serv {
  display: flex;
  width: 600px;
  align-items: center;
}
.img2 {
margin-left: 10px;
margin-right: 10px;
max-width: 50%;
max-height: 50%;
   object-fit:contain;
}
/* .recept {
      justify-content: left;
  

} */